
body,*{
    font-size: 16px;
    scroll-behavior: smooth;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */

    padding: 0px;
    margin: 0%;
}

nav
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    background-color: black;
    
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;

    

    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    text-align: center;
    z-index: 4;
}

.logo
{
    background-image: url("img/Logo_white_txt.svg");
    -webkit-background-size: cover;
    -moz-background-size: center cover;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    z-index: 3;
    margin-left: 5px;
    padding: 5px;
    
    cursor: pointer;
}
.nav-links
{
    display: flex;
    justify-content: center;
    width: 50%;
    
}
li
{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    list-style-type: none;
    text-decoration: white;
    font-size: 15px;
    letter-spacing: 5px;
    width: 30%;
}

.box{
    flex: 30%;
}
li a
{
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition-duration: 0.3s;
}

li a:hover
{
    color: #DF6F00;
}

.activeNav
{
    color: #DF6F00;
    font-size: 20px;
}

.splash
{
    background-color: white;
    background: 
    linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.767) 85%, rgba(255,255,255,1) 100%),
    url("img/splash.jpg");

    -webkit-background-size: cover;
    -moz-background-size: center cover;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #050505;
    
    z-index: 5;
    min-height: 100vh;
    max-height: 110vh;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 0%;
    width: 100%;
    position: relative;
    
    overflow-x: hidden;
}

h1
{
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;

    
}
.txt1{
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    text-shadow: 8px 4px 10px #424242;

    padding-left: 50vh; 
    width: 50%;

    cursor: pointer;
    transition: 0.7s ease;
    z-index: 8;
    }
.txt1:hover{color: #df6f00;}

.txt2 {font-family: 'Poppins', sans-serif;
    text-shadow: 8px 4px 10px #424242;
    padding-left: 40vh;
    width: 50%;
    cursor:
    pointer; 
    transition: 0.7s ease;
    z-index: 3;
}
.txt2:hover {color: #df6f00;}


.txt3{
    font-family: 'Poppins', sans-serif;
    text-shadow: 8px 4px 10px #424242;
    padding-left: 30vh;   
    width: 50%;
    cursor: pointer; transition: 0.7s ease;
    z-index: 3;}
.txt3:hover{color: #df6f00;}


.txt4{font-family: 'Poppins', sans-serif;
    text-shadow: 8px 4px 10px #424242;
    padding-left: 20vh;
    width: 50%;
    cursor: pointer;
    transition: 0.7s ease;
    z-index: 3;}
.txt4:hover{color: #df6f00;}


.txt5{font-family: 'Poppins', sans-serif;
    text-shadow: 8px 4px 10px #424242;
    padding-left: 10vh;
    width: 50%;
    cursor: pointer;
    transition: 0.7s ease;
    z-index: 3;}
.txt5:hover{color: #df6f00;}

.sliding
{
    position: absolute;
    width: 50vh;
    height: 50vh;
    top: 10vh;
    right: -50vh; /*CHANGE IT TO -50vh ONCE FINISHED DEBUGGING.*/
    
    opacity: 80%;
    border-radius: 20px;
    transition: 0.6s ease-in;
    z-index: -1;
    background:radial-gradient( rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1));
    overflow: auto;
    box-sizing: border-box;
}
.sliding h1
{
    margin: 50px 30px;
    text-align: center;
    box-shadow: 0px 0px #ffffff00;

    font-family: 'Poppins', sans-serif;
    
}
.sliding p
{
    text-align: center;
    margin: 100px 80px;

    font-family: 'Poppins', sans-serif;
}
#designSliding
{
    text-align: center;
    box-shadow: 1px 1px #ffffff00;}

#designSliding{background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#codingSliding{background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#marketingSliding{background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#uiuxSliding{background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
#systemSliding{background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


.sliding:hover{ color: #df6f00;}

.txt6
{
    
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;

    cursor: pointer;
}
.moreLink
{
    margin-top: 30%;
    margin-left: 50%;
    text-align: center;
    
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;

    cursor: pointer;
}
.txt6,#moreslider
{
    color:rgb(32, 32, 32);
    margin-top: auto;
    align-items: center;
    margin-bottom: 0;
    text-decoration: none;
    
}
#moreslider{color: #DF6F00; padding-right: 5px; font-size: 3rem; }
svg
{
    
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: auto;
    align-items: center;
    margin-bottom: 5px;
    animation: arrowrun 1.5s infinite;
    animation-timing-function: linear;
}
@keyframes arrowrun
{
    0%   {top: 0px;}
  25%  {top: 10px;}
  50%  {top: 0px}
  75% {top: -10px;}
  100% {top: 0px;}
}

#moreslider, .moreLink
{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}


































.window{
    padding: 0;
    padding-top: 15vh;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.portfoliogrid
{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: 200px, 200px, 200px;
    gap: 100px 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 150px;
    z-index: 1;
}

#portf1
{
    background: url("img/Web 1920 – 1.svg");
    background-repeat: no-repeat;
    background-position:58% 50%;
    background-size: 100% 100%;

    transition: 1s ease;
    z-index: 1;
}
#portf1:hover{filter: saturate(50%) blur(3px);}

#portf2
{
    background: url("img/Web 1920 – 2.svg");
    background-repeat: no-repeat;
    background-position:58% 50%;
    background-size: 100% 100%;
    transition: 1s ease;
    z-index: 1;
}
#portf2:hover{filter: saturate(50%) blur(3px);}



.portfolio
{
    
    background: grey;
    text-align: center;
    padding: 20px 50px;
    
    height: 30vh;
    z-index: 1;
}

































.services
{
    background-color: rgb(255, 255, 255);
    height: auto;

    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    position: relative;
    text-align: center;

    padding-top: 0vh;
    text-shadow: 5px 5px 10px #000000d2;
    z-index: 1;
    
}

.serv-left
{
    background: rgb(224, 209, 71);
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/ddwdf-0111.jpg");

    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: auto 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    height:95vh;
    overflow:hidden;
    
    position: relative;
    

    -moz-transition: transform 1s; 
    -webkit-transition: transform 1s;  
    -ms-transition: transform 1s;  
    -o-transition: transform 1s;  
    
    transition: 2s ease;
    
}

.serv-mid
{
    background-color:rgb(125, 171, 255);
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/tbswd-011.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: auto 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    
    height:95vh;
    overflow:hidden;
    position:relative;

    transition: 2s ease;
}
.serv-right
{
    background-color:rgb(241, 150, 150);
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/crf-0111.jpg");
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: auto 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    
    height:95vh;
    overflow:hidden;
    position:relative;

    transition: 2s ease;
}
.ser1WindTxtSub, .ser2WindTxtSub, .ser3WindTxtSub
{
    color: #ffffff;
    position: absolute;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins' sans-serif;
    transform:translateY(800px);
    opacity: 0;
    transition: 2s ease;
}
h2
{
    
    position: absolute;
    text-align: center;
    color: white;
    
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}






.window-contact
{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box-contact
{
    background-color: #ffffff;


    position: absolute;
    width: 80vh;
    height: 60vh;

    text-align: center;
    

    display: flex;
    
    

    padding: 50px 0;
    z-index: -1;
}
.text-box-contact,p
{
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    text-align: left;
    letter-spacing: 2px;
}



.button-box-contact
{
    background: rgb(255, 255, 255);
    justify-content: center;
    width: 50%;
    border-right: 5px solid black;
    padding-left: 30px;
}
.button-box-contact-heading
{
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-shadow: none;
    font-family: 'Merriweather', serif;
    text-align: left;
    padding-bottom: 30px;
}

.contactbtn
{
    width: 15vh;
    height: 5vh;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #DF6F00;
    border: none;
    color: white;
    padding: 15px 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;

    transition: 0.3s;
    opacity: 0.7;
    display: block;
    justify-content: center;
    align-items: center;
}
.contactbtn:hover
{
    opacity: 1;
}
.contactbtn:focus
{
    background-color: #ff8f1e;
}








.form-box-contact
{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 50%;
}
.screen-body-item
{
 width: 80%;
 flex: 1;
  padding: 50px;
}
.app-form-group 
{
    margin-bottom: 15px;
    
}
.app-form-control 
{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(54, 54, 54);
    font-size: 14px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    resize: none;
}
.app-form-control::placeholder 
{
    color: rgb(185, 185, 185);
}
  
.app-form-control:focus::placeholder 
{
    color: white;
}
.app-form-control:focus
{
    border-bottom-color: #DF6F00;
    color: rgb(29, 29, 29);
}

.app-form-button 
{
    background: none;
    border: none;
    color: #DF6F00;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
  
.app-form-button:hover 
  {
    color: #b9134f;
}






.fb{
    background: url("img/Facebook.svg");
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    filter: invert();
    padding: 10px;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
}
.inst
{
    background: url("img/Instagram.svg");
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    filter: invert();
    padding: 10px;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
}
.linkd
{
    background: url("img/Linked In.svg");
    display: inline-block;
    text-indent: -9999px;
    width: 25px;
    height: 52px;
    background-size: 25px 25px;
    filter: invert();
    padding: 10px;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    
    background-color: black;
    color: white;
    
    text-decoration: none;
    list-style-type: none;

    align-items: center;
    display: inline-block;
    padding-left: 50px;
    z-index: 1;
}


.footsign
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 35%;
    font-size: 25px;
    align-items: center;
    display: inline-block;
    justify-content: center;
   
}